<html>
    <head>
        <title>cryptobox :: home</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>post data</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('submit') }}">
                  <textarea name="json" cols="40" rows="5" autofocus></textarea>
                  <input type="submit" />
                </form>
            </div>
            <div class="title">
                <h1>Table</h1>
            </div>
                <table>
{% for key, value in result.iteritems() %}
   <tr>
        <th><a href="{{ url_for('api_get_file') }}/{{ key }}">{{ key }}</th>
        <td><a href="{{ url_for('api_get_file') }}/{{ key }}">{{ value }}</a> </td>
   </tr>
{% endfor %}
</table>
            </div>
        </div>
    </body>
</html>