{% extends "base.html" %}
{% block title %}cryptobox :: home{% endblock %}


{% block content %}
<div class="container">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'message' %}
              <div class="alert alert-warning" role="alert">
            {% else %}
              <div class="alert alert-{{ category }}" role="alert">
            {% endif %}
              {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


<div class="jumbotron">
<h1>Welcome to cryptobox</h1>
<p>cryptobox is a free upload service with cryptographig features. 
<a href="{{ url_for('documentation') }}">Read</a> more about it and <a href="{{ url_for('upload') }}">try</a> it!</p>
<p>
<a class="btn btn-lg btn-default" role="button"
href="https://github.com/bboortz/cryptobox">Show sourcecode</a>
<a class="btn btn-lg btn-default" role="button"
href="https://travis-ci.org/bboortz/cryptobox">Show build status</a>
<a class="btn btn-lg btn-default" role="button"
href="https://coveralls.io/github/bboortz/cryptobox">Show test coverage</a>
</p>
</div>

</div>
{%- endblock %}