{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}cryptobox :: list{% endblock %}


{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script>
(function() {
    var api_url = $('#api_url').data().name
    var service = api_url +'/api/file';
    $.getJSON( service )
    .done(function( data ) {
        var trHTML = '';
        $.each( data, function( i, item ) {
            link = service + '/' + i
            trHTML += '<tr><td>' + i + '</td><td><a href="' + link + '">' + link + '</a></td></tr>';
        });
        $('#contentlist').append(trHTML);
    })
    .fail(function(msg) {
        console.log( "error" );
        console.log( msg );
    })
})();

</script>

{{super()}}
{% endblock %}


{% block content %}
<div class="container">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'message' %}
              <div class="alert alert-warning" role="alert">
            {% else %}
              <div class="alert alert-{ {category }"} role="alert">
            {% endif %}
              {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


<div class="jumbotron">
<h1>Content List</h1>

<table id="contentlist" class="table">
    <tr>
        <th>Id</th>
        <th>Link</th>
    </tr>
</table>

</div>
{%- endblock %}