{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}cryptobox :: upload{% endblock %}


{% block content %}
<div class="container">
{%- with messages = get_flashed_messages(with_categories=True) %}
{%- if messages %}
<div class="row">
<div class="col-md-1">
{{utils.flashed_messages(messages)}}
</div>
</div>
{%- endif %}
{%- endwith %}
<div class="jumbotron">
<h1>Upload Content</h1>

<form action="{{ url_for('api_post_file') }}" class="form form-horizontal" method="post"r ole="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

    {{ wtf.form_field(form.content) }}
    {{ wtf.form_field(form.accesskey) }}
    {{ wtf.form_field(form.submit) }}
</form>

</div>
{%- endblock %}