{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}cryptobox :: upload{% endblock %}


{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script>
(function() {
  $("#uploadResult").hide()
})();

var api_url = $('#api_url').data().name
console.log(api_url)


var frm = $('#accessForm');
frm.submit(function (event) {
  event.preventDefault();

  var id = $("input#id.form-control").val()
  var accesskey = $("input#accesskey.form-control").val()
  var cryptkey = $("input#cryptkey.form-control").val()
  var service = api_url +'/api/file/' + id;
  console.log(service)
  console.log(id)
  console.log(cryptkey)
  
  $.ajax({
    type: 'get',
    url: service,
    headers: { accesskey: accesskey, cryptkey: cryptkey },
    success: function (data) {
      text = "Access succeeded! ID = " + id
      $("#uploadResult").text(text)
      $("#uploadResult").show()
    },
    error: function(msg){
      console.log( "error" );
      console.log( msg.statusCode + " - " + msg.statusText );
      text = "Access failed!"  
      $("#uploadResult").text(text)
      $("#uploadResult").show()
    }
  });

  
});




</script>

{{super()}}
{% endblock %}


{% block content %}
<div class="container">
<span id="uploadResult" class='alert alert-warning' role='alert' ></span>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'message' %}
              <div class="alert alert-warning" role="alert">
            {% else %}
              <div class="alert alert-{{ category }}" role="alert">
            {% endif %}
              {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


<div class="jumbotron">
<h1>Access your content</h1>

<form class="form form-horizontal" role="form" id="accessForm" action="/accesscontent" method="post">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

    {{ wtf.form_field(form.id) }}
    {{ wtf.form_field(form.accesskey) }}
    {{ wtf.form_field(form.cryptkey) }}
    {{ wtf.form_field(form.submit) }}
</form>

</div>
{%- endblock %}