{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}cryptobox :: upload{% endblock %}


{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script>
(function() {
  $("#uploadResult").hide()
})();

var api_url = $('#api_url').data().name
var service = api_url +'/api/file';

$(document).ready(function(){
  
  
  $("#accessContent").click(function(event){
    event.preventDefault();
    $.ajax({
      type: "GET",
      url: service,
      headers: { cryptkey: 'lala' },
      success:function(result){
        console.log( result );
        // $("#sharelink").html(result);
    }});
  });
});


var frm = $('#accessContent');
frm.submit(function (event) {
  var api_url = $('#api_url').data().name
  var service = api_url +'/api/file';
  
  $.ajax({
    type: 'post',
    url: service,
    data: frm.serialize(),
    success: function (data) {
      text = "Upload failed!"
      if (data.status != 'success') {
        text = "Upload failed!"  
      } else {
        url = "<a href='" + data.url + "'>URL</a>"
        text = "Upload succeeded! ID = " + data.id +  " CRYPTKEY = " + data.cryptkey
      }
      
      $("#uploadResult").text(text)
      $("#uploadResult").show()
    },
    error: function(msg){
      console.log( "error" );
      console.log( msg.statusCode + " - " + msg.statusText );
    }
  });

  event.preventDefault();
});




</script>

{{super()}}
{% endblock %}


{% block content %}
<div class="container">
<span id="uploadResult" class='alert alert-warning' role='alert' ></span>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'message' %}
              <div class="alert alert-warning" role="alert">
            {% else %}
              <div class="alert alert-{{ category }}" role="alert">
            {% endif %}
              {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


<div class="jumbotron">
<h1>Uploading successful!</h1>


<p>View id {{ id }}</p>
<p>at <a href="{{ url }}">{{ url }}</a></p>
<p>with cryptkey {{ cryptkey }}</p>

<p>
  <a class="btn btn-lg btn-default" role="button" 
  href="{{ return_url }}">back</a>
  <a id="accessContent" class="btn btn-lg btn-default" role="button" 
  href="{{ return_url }}">access content</a>
</p>

<form class="form form-horizontal" role="form" id="uploadForm" action="/uploadresult" method="post">
</form>

</div>
{%- endblock %}